@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --Header: 'Merriweather Sans', sans-serif;
    --text: 'Lora', serif;
    --Noir: #000000;
    --Blanc: #ffffff;
    --BleuFonce: #091925;
    --Creme: #fefffe;
    --Bleu: #cdeefe;
    --Rouge: #ff0512;
}


.navbar {
    background-color: var(--BleuFonce);
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bkgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper{
   height: 100vh;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.degrade { 
    position: absolute;
    background-image: linear-gradient(rgba(175, 200, 225, 0.5), rgba(20, 50, 75, 1));
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
}


.titre {
    color: var(--Blanc);
    position: absolute;
    z-index: 20;
    bottom: 250px;
}

.alignTitre {
    color: var(--Creme);
    margin: 20px;
}



a {
    text-decoration: none;
    color: var(--Blanc);
}

section {
    width: 100%;
    height: 100%;
    overflow:hidden;
}



.album {
    margin: 0 20px 0 20px;
}

.disco {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.row {
    width: 100%;
}

.animation {
    /* width: 400px;
    height: 400px; */
    object-fit: cover; 
    
}
/* .anim {
    width: 400px;
    height: 400px;
    border: dotted 1px #ff8487; 
    position: sticky;
    top: 30%;
}  */
.up {
    position: fixed;
    top: 30%;
    width: 400px;
    height: 400px; 
    

    background-image: url(../img/coeur_up.png);
    
    animation-name: up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
}
@keyframes up {
    from { background-position: 0 0; }
    to { background-position: 0 -10080px; }
}
.idle {
    position: fixed;
    top: 30%;
    width: 400px;
    height: 400px; 
    

    background-image: url(../img/coeur_idle.png);
    animation-name: idle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
}
@keyframes idle {
    from { background-position: 0 0; }
    to { background-position: 0 -10080px; }
}
.down { 
    position: fixed;
    top: 30%;
    width: 400px;
    height: 400px;
    

    background-image: url(../img/coeur_down.png);
    animation-name: down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
}
@keyframes down {
    from { background-position: 0 0; }
    to { background-position: 0 -10080px; }
}

.construction {
    width: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
}

.inCard {
    padding: 5px;
}

.credit {
    width: 300px;
    margin: auto;
}

.margin {
    margin-bottom: 10px;
}

.img1 {
    transform: translateY( -200px );
}

