@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --Header: 'Merriweather Sans', sans-serif;
    --text: 'Lora', serif;
    --Noir: #000000;
    --Blanc: #ffffff;
    --BleuFonce: #091925;
    --Creme: #fefffe;
    --Bleu: #cdeefe;
    --Rouge: #ff0512;
}



header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bkgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper{
   height: 100vh;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.degrade { 
    position: absolute;
    background-image: linear-gradient(rgba(175, 200, 225, 0.5), rgba(20, 50, 75, 1));
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
}


.titre {
    color: var(--Blanc);
    position: absolute;
    z-index: 20;
    bottom: 250px;
}

.alignTitre {
    color: var(--Creme);
    margin: 20px;
}



a {
    text-decoration: none;
    color: var(--Blanc);
}

section {
    width: 100%;
    height: 100%;
    overflow:hidden;
}



.album {
    margin: 0 20px 0 20px;
}

.disco {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.row {
    width: 100%;
}

.animation {
    object-fit: cover; 
}

.construction {
    width: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
}

.inCard {
    padding: 5px;
}

.credit {
    width: 300px;
    margin: auto;
}

.margin {
    margin-bottom: 10px;
}

.img1 {
    transform: translateY( -200px );
}