:root {
  --Header: "Merriweather Sans", sans-serif;
  --text: "Lora", serif;
  --Noir: #000000;
  --Blanc: #ffffff;
  --BleuFonce: #091925;
  --Creme: #fefffe;
  --Bleu: #cdeefe;
  --Rouge: #ff0512;
}

html {
  height: 100%;
  overflow-x: hidden;
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media (orientation: landscape) {
  header {
    height: 56.25vw;
  }
}

picture {
  width: 100%;
  height: 100%;
  position: absolute;
}

.accueil {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contraste {
  background-color: var(--Rouge);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.colonne {
  position: relative;
  color: var(--Creme);
}

nav {
  background-color: #091925;
}

.menu {
  color: #739cbe;
  text-decoration: none;
}

.menu:hover {
  color: var(--Creme);
}

.index {
  color: var(--Bleu);
  align-content: space-around;
}

.grosMenu a {
  margin-right: 150px;
}

.navbar-brand {
  color: var(--Bleu);
}

footer {
  background-color: var(--BleuFonce);
  padding: 20px;
  margin-top: 20px;
  color: #739cbe;
}

.footerLien {
  color: #739cbe;
  text-decoration: none;
}

.footerLien:hover {
  color: var(--Creme);
}

.construction {
  width: 100%;
  object-fit: cover;
}

.btn {
  scroll-behavior: smooth;
}

.card {
  margin: 10px 10px;
  height: 600px;

  background-color: var(--Bleu);
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  margin-top: 5px;
  object-position: 60% 40%;
}

.scroll {
  color: var(--Blanc);
  text-decoration: none;
}

.scroll:hover {
  color: var(--Blanc);
}

.card-footer {
  color: var(--Noir);
  text-decoration: none;
  width: 100%;
  margin-bottom: 5px;
}

.card-footer:hover {
  color: var(--Creme);
}

.row-2 {
  margin-top: 15px;
}

.youtube{
  margin-top: 15px;
}

.videoYoutube{
  height: 100%;
  width: 100%;
}

.nom:hover{
  color: var(--Creme);
}

.btn-footer{
  color: inherit;
  background-color: inherit;
  border: none;
}

.imgModal{
  width: 300px;
  margin-left:  80px;
}